.heading {
  font-size: 5rem;
  text-align: center;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-top: 9rem;
}



.searchButton {
  position: absolute;
  top: 3rem;
  left: 10rem;
  background-color: transparent;
  border-radius: 50%;
  font-size: 5rem;
  cursor: pointer;
  padding: 0;
  border: none;
  display: flex;
  color: #0984e3;
  transition: all .2s;
  transform: scale(1);
  backface-visibility: hidden;
}

.searchButton:hover {
  color: #0768b2;
  transform: scale(1.1);
}
