.tittleBox {
  position: relative;
  width: 100%;
  background-color: #2d3436;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  transform: translateY(-10rem);
  transition: transform .2s;
  z-index: 100;
}

.infoBox {
  width: 100%;
  height: 4rem;
  background-color: #2d3436;
  padding: 1rem 0;
  transition: transform .2s;
  position: absolute;
  bottom: 0;
}

.title {
  text-align: center;
  color: #74b9ff;
  margin: 0;
  width: 100%;
  z-index: 999 !important;
}

.card {
  position: relative;
  height: 325px;
  width: 250px;
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
  animation-name: show;
  animation-duration: 2s;
  border: 5px solid #74b9ff;
  background-color: #2d3436;
}

.card:hover .tittleBox {
  transform: translateY(0);
}

.card:hover .infoBox {
  transform: translateY(0);
}

.card:hover .image {
  transform: scale(1.1);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform .2s;
  z-index: 10;
}

.vote {
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}